.about {
  margin: 30px 0px;
  padding: 20px;
  margin-left: 200px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.about-img img {
  border-radius: 10px;
  width: 100%;
  height: 400px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content h1 {
  color: gray;
  font-family: cursive;
  border-bottom: 2px solid gray;
  text-align: center;
}
.about-content p {
  text-align: justify;
  padding: 20px;
}
